/* ---- grid ---- */
.grid {
	background: transparent;
	margin: 0 auto;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer, .grid-item {
	width: 250px;
}

.grid-item {
	float: left;
	margin-bottom: 10px;
    background: #FFFFFF;
    /*border: 1px solid black;*/
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000;
}

.grid-item img {
	display: block;
	max-width: 98%;
	padding-top: 3px;
	margin: auto;
}

.grid-item h2, p {
	margin: 5px;
}