--- 
layout: chatpostwrapper 
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<div class="post-header">
		<h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
		<p class="post-meta">
			{% if page.author1 %}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">
						<a href="https://www.linkedin.com/in/{{ page.linkedin_profile1 }}" target="_blank">{{ page.author1 }}</a>
					</span>
				</span> 
			{% endif %}
			{% if page.author2 %}
			    &nbsp; | &nbsp;
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">
						<a href="https://www.linkedin.com/in/{{ page.linkedin_profile2 }}" target="_blank">{{ page.author2 }}</a>
					</span>
				</span> 
			{% endif %}
			<br><br>
			{% include share.html %} 
			<br><br>
		</p>
	</div>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
		<br>
		{% include share.html %} 
	</div>

	<nav class="post-nav">
	{% if page.next %} 
		<a class="post-nav-item post-nav-prev" href="{{ page.next.url  | relative_url }}">
			<section class="post-nav-teaser">
				<span class="post-nav-icon">&rang;</span> 
				<span class="post-nav-info">
					<h4 class="post-nav-title">{{ page.next.title }}</h4>
					<p class="post-nav-excerpt">{{ page.next.excerpt | truncate: 40 }}&hellip;</p>
				</span>
			</section>
		</a>
	{% endif %}
	{% if page.previous %} 
		<a class="post-nav-item post-nav-next" href="{{ page.previous.url  | relative_url }}">
			<section class="post-nav-teaser">
				<span class="post-nav-icon">&lang;</span>
				<span class="post-nav-info">
					<h4 class="post-nav-title">{{ page.previous.title }}</h4>
					<p class="post-nav-excerpt">{{ page.previous.excerpt | truncate: 40 }}&hellip;</p>
				</span>
			</section>
		</a> 
	{% endif %} 
	<div class="clear"></div>
	</nav>

	{% if site.disqus.shortname %} 
		{% include disqus_comments.html %} 
	{% endif %}
</article>
{% include footer.html %}
{% include post-js-include.html %}
